/* MAIN STYLE FILE FOR dollorclicker */
html {
	min-height: 100%;
}
body {
	min-height: 100%;

	padding-bottom: 3em;
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
}

.container {
	min-height: 100%;
	width: 95%;
	overflow: hidden;
	position: relative;
}

.header {
	text-align: center;
}

h1{
	
}

hr {
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.button {
	border: none;
	border-radius: 5px;
	background-color: #065C27;
	box-shadow: 5px 5px 5px #A4BD99;
	padding: 5px;
	margin: 5px;
	color: white;
}

.buttongrey {
	border: none;
	border-radius: 5px;
	background-color: grey;
	box-shadow: 5px 5px 5px #A4BD99;
	padding: 5px;
	margin: 5px;
	color: white;
}

.clickdiv {
	text-align: center;
}

.clickdiv button {
	width: 35%;
	height: 5em;
}

.incomediv {
	text-align: center;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  
}

.buydiv {
	flex: 0 1 40%;
	margin: 5% ; /* 5% */
	padding: 15px;
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(to bottom, grey, #f5f5f5) 1 stretch;
	/*-webkit-border-image: -webkit-linear-gradient(top, grey, #f5f5f5) 1 stretch;*/ /* Breaks chrome */
       -o-border-image: linear-gradient(to bottom, grey, #f5f5f5) 1 stretch;
}

.buydiv h3 {
	text-align: center;
}

/* Class for hiding objects which are not ready yet (still take space) */
.hidden {
	visibility: hidden;
}


/*
.footer {
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	font-size: 10px;
	width: 100%;
}
*/